{% load static %}

 

        <div class="item">
          <img src="{{blog.image.url}}" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span>{{blog.Category}}</span>
              </div>
              <a href="{{blog.get_absolute_url}}"><h4>{{blog.name}}</h4></a>
              <ul class="post-info">
                <li><a href="#">{{blog.user}}</a></li>
                <li><a href="#">{{blog.created}}</a></li>
                <li><a href="#">{{blog.blog_comment.count}} Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
   